data/antennas_current
data/antennas_gain_power
data/antennas_impedance
data/antennas_mesh1
data/antennas_mesh2

# ifa_meander project
antennas_simulation/ifa_meander_project/data

# Les ameliorations .txt
Zameloration.md

# profiling code
profiling/